body{
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
    text-align: center;
    height: 100%;
    word-wrap: break-word
}
.homecontent{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
h1,p{
    width: 80%;
    margin-left: 10%;
}
.linktopost{
    color: black;
    text-decoration: none;
}
.footers{
    background-color: rgb(230, 251, 255);
    display: block;
    width: 100%;
    position: relative;
   top: 500px;
    
height: 35px;
    
    
} 
/* .compose{
   
} */
.sub{
    margin-bottom: 20px;
   
}
label{
    font-weight: 500;
    
    
}
.inp{
    width: 80%;
    margin-left: 30px;
    
}
.content{
    
    display: block;
    
}

